input, button {
    width: 100%;
    padding: 1.25rem;
    margin: .5rem 0;
    border-radius: .25rem;
}

input {
    border: 1px solid hsl(246, 25%, 77%, 0.5);
    outline: none;
}

button {
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    background: hsl(154, 59%, 51%);
    box-shadow: 0px 4px 0px hsla(154, 54%, 39%, 0.849);
    padding: 1rem;
    cursor: pointer;
}

button:hover {
    background: hsl(154, 59%, 51%, 0.7);

}

::placeholder {
    font-weight: 700;
    font-size: .9rem;
    color: hsl(249, 10%, 26%);

}

.formCard {
    border-radius: .75rem;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.15);
    background-color: white;
    padding: 1.25rem;
    margin-bottom: 3rem;
}

.terms {
    font-size: .75rem;
    color: hsl(246, 25%, 77%);
    padding: .5rem .5rem;
}

.terms span {
    color: hsl(0, 100%, 74%)
}

.error {
    display: block;
    color: hsl(0, 100%, 74%);
    text-align: right;
    font-size: .75rem;
    ;
}

.inputGroup {
    position: relative;
}

.inputError {
    border: 1px solid hsl(0, 100%, 74%);
}

.iconError {
    display: visible;
    position: absolute;
    top: 1.56rem;
    right: 1.5rem;
}

.hidden {
    display: none;
}

@media screen and (min-width: 768px) {
    .formCard {
        width: 100%;
        margin-bottom: 0rem;
        padding: 2rem 2.5rem;

    }
}